<!--<div *ngIf="!error" class="bg-white dark:bg-black h-full w-full">
    <p>Foo</p>
    <iframe [src]="getGraphUrl() | safe: 'resourceUrl'" frameborder="1" width="100%" height="100%"
        class="w-full h-full rounded-none md:rounded-2xl shadow-lg" sandbox="allow-scripts allow-same-origin"></iframe>
</div>
-->

<div class="flex flex-col w-full h-full justify-center">
    <div class="h-12 flex clex-row gap-x-3 items-center px-0 md:px-6">
        <div class="flex flex-row gap-x-2 items-center">
            <vscode-link (click)="onOpenLinkInGithub(LINK_OWNER)">{{owner}}</vscode-link>/<vscode-link
                (click)="onOpenLinkInGithub(LINK_REPO)">{{repo}}</vscode-link>/<vscode-link
                (click)="onOpenLinkInGithub(LINK_PATH)">{{path}}</vscode-link>
        </div>
        <vscode-button (click)="onOpenLinkInGithub()">Open in GitHub</vscode-button>
    </div>
    <div class="w-full h-full p-0 md:px-6 md:pb-6">
        <iframe [src]="getGraphUrl() | safe: 'resourceUrl'" frameborder="1" width="100%" height="100%"
            class="w-full h-full rounded-none md:rounded-2xl shadow-lg"
            sandbox="allow-scripts allow-same-origin"></iframe>
    </div>
</div>